@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

@import "tailwindcss";

.font-paragraph {
  font-family: 'Playfair Display', serif;
}

.playball {
  font-family: 'Playball', cursive;
}